---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
---

<Layout title="Contact Me" description="Reach out to me!">
  <Container additionalClasses="flex h-full">
    <div class="m-auto text-center">
    Write to me at sddhrthrt at gmail dot com. <br />
    Click "Say hi" or find my instagram in the footer below.
    </div>
  </Container>
</Layout>
