---
const { title, images, alt, urls, width, height } = Astro.props;
---

<div>
  <a>
    <picture>
      <source media="(min-width: 1280px)" srcset="" data-srcset-large />
      <source media="(min-width: 768px)" srcset="" data-srcset-medium />
      <img
        id="homePageImage"
        class="h-[440px] sm:h-[600px] lg:h-[700px] xl:h-[1000px] object-contain w-full object-center"
        src={JSON.parse(images).large[0]}
        alt={JSON.parse(alt)}
        data-srcset-small
      />
    </picture>
  </a>
  <slot />
</div>