---
const { title } = Astro.props;
---

<div class="flex items-center justify-items-start mb-6">
  <!-- <span class="flex w-8 h-0.5 dark:bg-gray-400 bg-gray-400 mr-3"></span> -->
  <h2 class="text-l font-bold uppercase dark:text-gray-300 text-gray-800">
    {title}
  </h2>
  <span class="flex grow h-0.5 dark:bg-neutral-700 bg-neutral-300 ml-3 mr-3"></span>
</div>
