---
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
const allTags = allPosts.map((tag) => tag.data.tags).flat();

---

{[...new Set(allTags)].map((tag) => (
  <a
    href={`/tags/${tag}`}
    class="inline-block m-1 px-3 py-1 rounded-full bg-neutral-200 text-sm text-black/80 hover:bg-black/10 hover:text-black dark:bg-neutral-800 dark:text-white/80 dark:hover:bg-white/10 dark:hover:text-white transition-colors duration-300 ease-in-out"
  >
    {tag}
  </a>
))}
<!-- <span></span> -->
